/* do write here global css */

p {
	font-size: 15px;
}
h2 {
	font-size: 24px
}

a {
  text-decoration: none;
}

img{
  width: 100% !important;
  height: auto;
}
h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom:10px;
}
h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom:10px;
}
h3 span{
  font-size: 16px !important;
  font-weight: 500;
  margin-bottom:10px;
}
h4 {
  font-size: 14px;
  font-weight: 500;
}
h5 {
  font-size: 14px;
  font-weight: 500;
}
h6 {
  font-size: 13px;
  font-weight: 400;
}
p {
  font-size: 12px;
  color: #616161;
}
.description{
  line-height: 1.5em;
  white-space: normal;
  font-size: 16px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,sans-serif;
}

.description p{
  line-height: 1.25em;
  margin-top: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 16px;
}

.description h2 {
  margin-bottom: 22px;
  margin-top: 22px;
  line-height: 1.25em;
}
.description table{
  width: 100%;
  margin-bottom:10px;
  border:1px solid #f5f5f5;
}
.description span a{
  display: block;
  margin-bottom:10px;
}
.description table td{
  border:1px solid #f5f5f5;
  padding:5px;
}
.description span{
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.6) !important;
  white-space: normal;
}
.description pre{
  background: #f5f5f5;
  padding:10px;
  border: 2px;
  margin: 10px 0px;
  width: 100%;
  white-space: normal;
}
.description pre span{
  padding:10px;
  background: #fff;
  margin-bottom: 10px;
  display: block;
  border-radius: 2px;
}
.article hr, .description hr{
  border:#f5f5f5 solid 1px;
  margin:10px 0px;
}
ul {
  margin: 20px 0px;
}
ul li {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
.skloader {
  top: 0;
}
.v-text-field__details{
  display: none !important;
}
.v-toolbar__title{
  font-size: 1.1rem !important;
}