/* do write here global css */

p {
	font-size: 15px;
}

a {
  text-decoration: none;
}
h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom:10px;
  line-height: 1.25;
}
h2 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom:10px;
  line-height: 1.45;
}
h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom:10px;
  line-height: 1.35;
}
h3 span{
  font-size: 18px;
  font-weight: 500;
  margin-bottom:10px;
  line-height: 1.6;
}
h4 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.6;
}
h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}
h6 {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}
p {
  font-size: 12px;
  color: #616161;
  line-height: 1.25;
}
.description{
  line-height: 1.5em;
  white-space: normal;
  font-size: 16px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,sans-serif;
}

.description p{
  line-height: 1.25em;
  margin-top: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 16px;
}

.description img {
  margin-top: 22px;
  max-width:  100%
}
.description table{
  width: 100%;
  margin-bottom:10px;
  border:1px solid #f5f5f5;
}
.description span a{
  display: block;
  margin-bottom:10px;
}
.description table td{
  border:1px solid #f5f5f5;
  padding:5px;
}
.description span{
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  white-space: normal;
}
.description pre{
  background: #f5f5f5;
  padding:10px;
  border: 2px;
  margin: 10px 0px;
  width: 100%;
  white-space: normal;
}
.description pre span{
  padding:10px;
  background: #fff;
  margin-bottom: 10px;
  display: block;
  border-radius: 2px;
}
.article hr, .description hr{
  border:#f5f5f5 solid 1px;
  margin:10px 0px;
}
ul {
  margin: 20px 0px;
}
ul li {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}
.skloader {
  top: 0;
}
.v-text-field__details{
  display: none;
}
.v-toolbar__title{
  font-size: 1.1rem;
}

.welcome-carousel .mdi-circle {
  font-size: 10px;
  color: black;
}
.welcome-carousel .v-item--active {
  color: black;
}
.welcome-carousel .v-carousel__controls__item {
  margin: 0;
  padding: 0;
}